/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url("https://assets.entrepreneur.com/content/3x2/2000/1649279368-Ent-2022Python.jpeg");
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	padding: 15px;
    background: rgba(140, 35, 24, 0.8);
    font-weight: bolder;
	width: 424px;
	color: white;
    font-size: 16pt;
}
h1 {
    text-align: center;
	font-size: 80px;
}
h2 {
    /*how to center text in css*/
    text-align: center;
	font-size: 40px;
	background: #18818c;
	color: black;
	padding: 5px;
	border-radius: 5px;
}
a {
	color: #18818c;
	text-decoration: none;

}